/********************************* 태그별 *********************************/
body {
  margin: 0;
  font-size: 2em;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

body,
html,
main {
  position: relative;
  height: 100%;
}

/********************************* 클래스별 *********************************/
.borderless {
  border-style: none;
}

.bold {
  font-weight: bold;
}

.card {
  width: 18rem;
  height: 27rem;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.footerContainer {
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  color: #666d75;
}

.footer_module1 {
  display: flex;
  flex-direction: row;
  position: relative;
}

/*-- 푸터A --*/
.footer_a {
  padding: 40px 0;
  padding-bottom: 32px;
}

.footer_a p {
  font-size: 14px;
  color: #848c94;
}

.footer_a h5 {
  font-weight: bold;
}

/*-- 푸터B --*/
.footer_b h5 {
  font-weight: bold;
}

.footer_b li {
  margin-bottom: 10px;
}

/*-- 푸터C --*/
.footer_c {
  border-top: 1px solid #ced4da;
}

.footer_c p {
  font-size: 12px;
  color: #848c94;
}

.iconAlign {
  margin: 5px;
}

.imageIcon {
  width: 24px;
  height: 24px;
}

.item {
  padding: 5%
}

.item-a {
  /* background-color: yellow; */
  position: relative;
  height: 100%;
}

.item-b {
  /* background-color: yellowgreen; */
}

.item-c {
  /* background-color: skyblue; */
}

.logo {
  width: 85%;
  height: 85%;
}

/*-- MEDIA_PC --*/
@media screen and (min-width: 769px) {
  .sns {
    display: flex;
    flex-direction: row;
    right: 0;
    position: absolute;
    margin: 0;
    padding-right: 180px;
  }

  .footer_b {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 0;
    font-weight: bold;
  }

  .footer_b li {
    margin-bottom: 10px;
  }

  .footer_c li {
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
    float: left;
  }

  select {
    width: 150px;
    padding: 5px;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 0px;
    float: right;
    color: #666d75;
  }

  .sns div {
    margin: 0 20px 0 0;
  }
}

/*-- MEDIA_MOBILE --*/
@media screen and (max-width: 768px) {
  .sns {
    display: flex;
    flex-direction: row;
  }

  .footer_c li {
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
  }

  .footer_b {
    padding: 40px 0;
    right: 0;
    font-weight: bold;
  }

  .footer_b li {
    margin-top: 10px;
    padding-left: 20px;
  }

  select {
    width: 100%;
    padding: 5px;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 0px;
    color: #666d75;
  }

  .sns div {
    margin: 0 12px 0 0;
  }

  .btn {
    width: 100%;
  }
}

.spacing {
  margin-left: 20px;
}

.swiper-container {
  width: 100%;
  height: 480px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.trip-info_header {
  margin-bottom: 30px;
}

.trip-info_facebook {
  width: 240px;
  margin-right: 56px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.trip-info_instar {
  width: 240px;
  margin-right: 56px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.trip-info_naver {
  width: 240px;
  margin-right: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.verticalDivider {
  border-left: 1px solid;
  border-color: lightgray;
  height: 80%;
}

.verticalLine {
  width: 1px;
  height: 20px;
  margin: 0 20px 0 0;
  background-color: #ced4da;
}

/********************************* 아이디별 *********************************/
