/********************************* 태그별 *********************************/
body {
  margin: 0;
  font-size: 16px;
}

/* h1, h2 {
  margin: 0;
  padding: 0;

}

/*input {*/
/*       border-top-style: hidden;*/
/*       border-right-style: hidden;*/
/*       border-left-style: hidden;*/
/*       border-bottom-style: groove;*/
/*       background-color: #eee;*/
/*     }*/


} */

body,
html,
main {
  position: relative;
  height: 100%;
}


/*li {*/
/*  float: left;*/
/*}*/

/* li {
  float: left;
}


/*ul {*/
/*  list-style: none;*/
/*}*/


/*ul div {*/
/*  float: left;*/
/*}*/

ul div {
  float: left;
} */


header {
  margin-top: 1rem;
}

/********************************* 클래스별 *********************************/
/******************* index *******************/
.borderless {
  border-style: none;
}

.bold {
  font-weight: bold;
}

.card {
  width: 18rem;
  height: 27rem;
}

.card-img-overlay h5 {
  font-size: 25px;
  font-weight: 800;
}

.card-img-overlay a {
  position: absolute;
  top: 75%
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.custom_input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  min-width: 12rem;
}

.footerContainer {
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  color: #495056;
}

.footer_module1 {
  display: flex;
  flex-direction: row;
  position: relative;
}

.footerContainer a {
  text-decoration: none;
  color: #495056;
  transition: color;
}

.footerContainer a:hover {
  text-decoration: none;
  color: #2b96ed;
  background-color: #e7f4fd;
}

.footerContainer .sns a:hover {
  background-color: #efefef;
}

/*-- 푸터A --*/
.footer_a {
  padding: 40px 0;
  padding-bottom: 32px;
}

.footer_a p {
  font-size: 14px;
  color: #848c94;
}

.footer_a h5 {
  font-weight: bold;
}

/*-- 푸터B --*/
.footer_b h5 {
  font-weight: bold;
}

.footer_b li {
  margin-bottom: 10px;
}

/*-- 푸터C --*/
.footer_c {
  border-top: 1px solid #ced4da;
}

.footer_c p {
  font-size: 12px;
  color: #848c94;
}

.iconAlign {
  margin: 5px;
}

.imageIcon {
  width: 24px;
  height: 24px;
}

.item {
  padding: 2%
}

.item-a {
  position: relative;
  height: auto;
}

.item-b {
  padding: 0 5%;
}

.item-c {
  margin: 0 auto;
}

.no-outline:focus {
  outline: none;
}


/*-------------------- MEDIA_PC --------------------*/

.scrollmenu a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.scrollmenu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  text-decoration: none;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.scrollmenu a:hover:after {
  width: 100%;
  left: 0;
}

/*-- MEDIA_PC --*/

@media screen and (min-width: 769px) {

  /* header */
  a strong {
    font-size: .9rem;
  }

  .logo {
    width: 10rem;
    height: 5rem;
  }

  .onAndOff img {
    display: none;
  }

  .sidenav, sidenav a {
    display: none;
  }

  .header_span {
    display: none;
  }

  div.scrollmenu .item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    padding: 0.3rem;
    margin: 0 .8rem
  }

  /* header */
  .sns {
    display: flex;
    flex-direction: row;
    right: 180px;
    position: absolute;
    margin: 0;
  }

  .footer_b {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 0;
    font-weight: bold;
  }


  .footer_b2 {
    display: none;
  }

    .footer_b2 {
        display: none;
    }


  .footer_b li {
    margin-bottom: 10px;
  }

  .footer_c li {
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
    float: left;
  }

  select {
    width: 150px;
    padding: 5px;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 0px;
    float: right;
    color: #666d75;
  }

  .sns div {
    margin: 0 20px 0 0;
  }

  .custom_input::placeholder {
    font-size: 0.9rem;
  }
}

/*-------------------- MEDIA_MOBILE --------------------*/
@media screen and (max-width: 768px) {

  /* header */
  a strong {
    font-size: .7rem;
  }

  .logo {
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    left: 12rem;
    top: .5rem;
  }

  .dividerOnAndOff {
    display: none;
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 3.75rem;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-top: .9rem;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2rem;
    margin-left: 3.1rem;
  }

  div.scrollmenu .item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    padding: .19rem;
    margin: 0 .5rem
  }

  #search-field {
    display: none;
  }

  .upper-right a, .upper-right button {
    display: none;
  }

  div .search-icon {
    position: absolute;
    left: 22rem;
    top: .5rem;
  }



  /* header */
  .sns {
    display: flex;
    flex-direction: row;
  }

  .footer_c li {
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
  }

  .footer_b {
    padding: 40px 0;
    right: 0;
    font-weight: bold;
    display: none;
  }

  .footer_b li {
    margin-top: 10px;
    padding-left: 20px;
  }

  select {
    width: 100%;
    padding: 5px;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 0px;
    color: #666d75;
  }

  .sns div {
    margin: 0 12px 0 0;
  }

  .btn {
    width: 100%;
  }

  input::placeholder {
    font-size: 0.8rem;
  }
}

div.scrollmenu {
  overflow-x: auto;
  display: flex;
  /* border: solid 1px; */
  white-space: nowrap;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 1rem;
  /* background-color: Black; */
}

div.scrollmenu.active {
  cursor: -webkit-grabbing;
}

div.scrollmenu::-webkit-scrollbar {
  display: none;
}

.spacing {
  margin-left: 20px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .card {
  text-align: left;
  height: auto;
  color: whitesmoke;
  font-weight: 600;
}

.trip-info_header {
  margin-bottom: 20px;
}


trip-info {
  padding: 0 5%;

.trip-info{
    padding: 0 5%;

}

.trip-info p {
  margin-top: 5px;
}

.trip-info_facebook {
  width: 250px;
  margin-right: 60px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.trip-info_instar {
  width: 250px;
  margin-right: 60px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.trip-info_naver {
  width: 250px;
  margin-right: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.verticalDivider {
  border-left: .06px solid;
  border-color: lightgray;
  height: 1rem;
}

.verticalLine {
  width: 1px;
  height: 20px;
  margin: 0 20px 0 0;
  background-color: #ced4da;
}

/********************************* 아이디별 *********************************/
.background {
  background-image: url(resources/img/spa-salon-with-beach-view.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#sidenav-logo {
  width: 10rem;
  height: 5rem;
}
